.header {
  border-bottom: $border-gray;
  background-color: $color-white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 6.5rem;
  min-height: 5rem;
  @include respond(tab) {
    width: 100%;
    justify-content: space-between;
  }
  &-menuicon {
    position: relative;
    top: -1000px;
    left: -1000px;

    @include respond(tab) {
      top: 0;
      left: 0;
      margin-left: 20px;
    }

    &-icon {
      width: 2rem;
      height: 2rem;
    }
  }
  &-logo {
    margin: 0.5rem;
    width: auto;
    height: 4rem;
    @include respond(tab) {
      width: 100px;
    }
  }
  &-links {
    display: flex;
    @include respond(tab) {
      display: none;
      position: relative;
      top: -1000px;
      left: -1000px;
    }
    &-link {
      margin-left: 1.5rem;
      font-size: 16px;
      a {
        font-weight: bold;
      }
      @include respond(tab) {
        margin-left: 0.5rem;
        font-size: 13px;
      }
    }
  }
  &-buttons {
    margin-left: 1rem;
    @include respond(tab) {
      display: none;
      position: relative;
      top: -1000px;
      left: -1000px;
    }
    &-btn {
      margin-left: 1rem;
    }
  }
}

.hide {
  position: relative;
  top: 0;
  height: 0;
  @include respond(tab) {
    display: none;
    position: relative;
    top: -1000px;
    left: -1000px;
  }
}

.nav-bar {
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  height: 0;
  display: flex;

  position: absolute;
  padding: 0;
  z-index: 3000;

  height: 200vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  // Mostrar el menu flotante
  &.active {
    @include respond(tab) {
      overflow: visible;
      visibility: visible;
      opacity: 100%;
      height: max-content;
    }
  }
}
.side {
  background-color: $color-light-gray;
  height: 200vh;

  width: 300px;
  padding: 1rem 0 0;

  &-logo {
    @include flex-center;

    padding-bottom: 1rem;
    &-img {
      width: 150px;
    }
  }
  &-links {
    padding-top: 1rem;
    padding-inline-start: 0 !important;

    &-item {
      padding: 5px 0;
      padding-left: 10px;
      position: relative;
      // padding-left: 1rem;
      height: 2rem;
      display: flex;
      align-items: center;
    }

    &-item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: $color-light-pink;
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s;
    }
    &-item:hover::before {
      transform: scaleY(1);
      width: 100%;
    }

    &-link:link,
    &-link:visited {
      position: relative;
      z-index: 2000;
    }
  }
  &-buttons {
    padding-top: 1rem;

    @include flex-center;
  }
  &-icons {
    background-color: #f4f4f4;
    cursor: pointer;
    @include flex-center;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }
  &-icon {
    cursor: pointer;
    fill: $color-dark-gray;
    width: 2rem;
    height: 2rem;
  }
}
